{% extends "base.html" %}

{% block title %}Onai Tasks{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<main role="main" class="container">
    {% if response == "0" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Task Entry</strong> Success!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif response != "" %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Task Entry</strong> Something went wrong.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <button type="button" class="btn btn-primary"><a href="/org/new?content=Here is some content"><i class="fas fa-plus"></i> Test Task Entry</a></button>
    <button type="button" class="btn btn-primary"><a href="/capture/new"><i class="fas fa-plus"></i> New Template</a></button>
    <button type="button" class="btn btn-secondary"><a href="/capture/edit"><i class="fas fa-pen-to-square"></i> Edit Template</a></button>
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
    {% if data.dir != '\\' %}
    <tr>
        <td scope="row">
                <a href="/files?path={{data.link_up}}">
                <i class="fas fa-folder"></i>
                ..
            </a>
        </td>
    </tr>
    {% endif %}
    {% for file in data.files %}
    <tr>
        {% if file.endswith('.org') %}
            <td>
                <a href="/org/{{file}}?path={{data.dir}}">
                    <i class="fas fa-file"></i>
                    {{file|safe}}
                </a>
            </td>
        {% else %}
            <th>
                <a href="/files?path={{data.dir}}\{{file}}">
                    <i class="fas fa-folder"></i>
                    {{file|safe}}
                </a>
            </th>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
</main><!-- /.container -->

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
