{% extends "base.html" %}

{% block title %}Onai Tasks{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{# End === New Template Model #}
{% include 'forms/task_form.html' %}
{% include 'forms/project_form.html' %}
{% include 'forms/target_form.html' %}
{# Start === Main Dash #}
<main role="main" class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProjectModal">
        <i class="fas fa-plus"></i> New Project
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TaskModal">
        <i class="fas fa-plus"></i> New Task
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#TargetModal">
        <i class="fas fa-plus"></i> New Target
    </button>
    <!-- <button type="button" class="btn btn-primary"><a href="/checklist/new"><i class="fas fa-plus"></i> New Checklist</a></button> -->
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
    {% if data.dir != '\\' %}
    <tr>
        <td scope="row">
                <a href="/files?path={{data.link_up}}">
                <i class="fas fa-folder"></i>
                ..
            </a>
        </td>
    </tr>
    {% endif %}
    {% for file in data.files %}
    <tr>
        {% if file.endswith('.org') %}
            <td>
                <a href="/org/{{file}}?path={{data.dir}}">
                    <i class="fas fa-file"></i>
                    {{file|safe}}
                </a>
                <!-- TODO: Add HTML export feature -->
                <!-- <button type="button" class="btn btn-primary btn-sm pull-right"><a href="/org/{{file}}?path={{data.dir}}?export=html"><i class="fas fa-code"></i> Export HTML</a></button> -->
            </td>
        {% else %}
            <th>
                <a href="/files?path={{data.dir}}\{{file}}">
                    <i class="fas fa-folder"></i>
                    {{file|safe}}
                </a>
            </th>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
</main><!-- /.container -->
{# End === Main Dash #}

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
