{% extends "base.html" %}

{% block title %}Onai Tasks{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<main role="main" class="container">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Tasks</th>
        </tr>
    </thead>
    <tbody>
    {% for task in data.lines %}
    <tr>
        <td>
            {{task|safe}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</main><!-- /.container -->

{{data.page}}

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}